@font-face {
  font-family: 'Earnogo';
  src: url('./fonts/UberMoveAR-Bold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'Earnogo';
  src: url('./fonts/UberMoveTextAR-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Earnogo';
  src: url('./fonts/UberMoveAR-Regular.woff2');
  font-weight: 400;
}
:root{
  --fs-normal : .938rem; 
}
*{
  padding: 0%;margin: 0%;
  text-decoration: none;text-transform: normal;
  box-sizing: border-box;border: none;outline: none;
  text-transform: capitalize;list-style: none;
  color: var(--color-fg-body);
}

:root{
  --fs-big : 2REM;
  --fs-h1: 1.5REM;
  --fs-h2: 1.25REM;
  --fs-h3: 1REM;
  --fs-normal :.938REM ;
  --fs-small :.813REM ;
  --fs-smaller : .75REM;
}
:root{
  --mb-05:.5REM;
  --mb-75:.75REM;
  --mb-10:1.0REM;
  --mb-15:1.5REM;
  --mb-20:2.0REM;
  --mb-25:2.5REM;
  --mb-30:3.0REM;
}
:root{
  --column-gap-05:.5REM;
  --column-gap-75:.75REM;
  --column-gap-10:1.0REM;
  --column-gap-15:1.5REM;
  --column-gap-20:2.0REM;
  --column-gap-25:2.5REM;
  --column-gap-30:3.0REM;
}
:root{
  --row-gap-05:.5REM;
  --row-gap-70:.75REM;
  --row-gap-10:1.0REM;
  --row-gap-15:1.5REM;
  --row-gap-20:2.0REM;
  --row-gap-25:2.5REM;
  --row-gap-30:3.0REM;
}

:root{
    --dark-theme-bg-color: #0f0f0f;
    --dark-theme-fg-color: #fff;
    --dark-theme-secondary-color: #bcbcbc;
    --dark-theme-disabled-color: #646464;
    --dark-theme-divider-color: #3c3c3c;
    --text-primary-color: #fff;
    --color-transparent : hsla(0, 0%, 100%, 0.035);
}

@media screen and (min-width:968PX) {
  :root{
    --fs-big : 2.5REM;
    --fs-h1: 2.25REM;
    --fs-h2: 1.5REM;
    --fs-h3: 1.25REM;
    --fs-normal :1REM ;
    --fs-small :.875REM ;
    --fs-smaller : .813REM;
  }
}


:root{
  --color-white : #fff;
  --color-black : #111;
  --color-bg-body : #0f0f0f;
  --color-fg-body : var(--color-white);
  --color-transparent : hsla(0, 0%, 100%, 0.035);
}
  /* -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, .035);
  box-shadow: inset 6px 84px 79px -40px hsla(0,0%,100%,.025), inset 0 -4px 1px -3px hsla(0,0%,100%,.25), inset 0 4px 1px -3px hsla(0,0%,100%,.25); */

  body{
    width: 100%;height: 100VH;
    font-family: 'earnogo';
    overflow-x: hidden;
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-fg-color);
  }
  section{
    width: 100%;height: auto;
    padding: 1REM 5%;position: relative;
  }
  @media screen and (max-width:767PX) {
    section{
      padding: 1REM;
    }
  }


  /* Strat plan container ***************************************************/
  .text__center{
    text-align: center;
    max-width: 700PX;width: 100%;margin: 0% auto;
  }
  .text__center h2{
    font-size: var(--fs-h1);
    color: var(--color-fg-body);
    margin-bottom: var(--mb-05);
    letter-spacing: -1PX;
  }
  .text__center p{
    font-weight: 100;
    opacity: .8;line-height: 1.6;
    margin-bottom: var(--mb-05);
  }
  .text__center .payments__list{
    width: 100%;display: flex;
    align-items: center;justify-content: center;
    margin-bottom: var(--mb-20);column-gap: var(--column-gap-05);
    height: 60PX;
  }
  .text__center .payments__list .payment__item{
    width: 55PX;height: 35PX;background-color: #FFF;
    background-position: center;background-repeat: no-repeat;
    background-size: contain;border-radius: .1REM;
    cursor: pointer;
    background-position: center;
    background-size: 40PX;
    background-repeat: no-repeat;
  }
  .text__center .payments__list .payment__item:nth-child(1){
    background-image: url('./images/payments/visa.svg');
  }
  .text__center .payments__list .payment__item:nth-child(2){
    background-image: url('./images/payments/paypal.svg');
  }
  .text__center .payments__list .payment__item:nth-child(3){
    background-image: url('./images/payments/masterCard.svg');
  }
  .text__center .payments__list .payment__item:nth-child(4){
    background-image: url('./images/payments/visa.svg');
  }
  .plans__container{
    width: 100%;height: auto;
    margin-bottom: var(--mb-30);
    margin-top: var(--mb-30);
  }
  .plans__container .plans__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290PX, 1FR));
    gap: var(--row-gap-10);

  }
  .plans__container .plans__list .plan__item{
    width: 100%;
    height: 450PX;
    border-radius: 10PX;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(5px);
    position: relative;
    backdrop-filter: blur(5px);
    background: hsla(0, 0%, 100%, .035);
    box-shadow: inset 6px 84px 79px -40px hsla(0,0%,100%,.025), inset 0 -4px 1px -3px hsla(0,0%,100%,.25), inset 0 4px 1px -3px hsla(0,0%,100%,.25);
  }
  .plans__container .plans__list .plan__item .active{
    width: 150PX;
    height: 150PX;
    position: absolute;
    top: -10PX;
    left: -10PX;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .plans__container .plans__list .plan__item .active::before{
    content: "شائع";
    position: absolute;
    width: 150%;
    height: 40px;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
    font-weight: bold;
    background: linear-gradient(345deg, var(--token-ee053477-e115-4fec-a5f5-cdc637ed6ddc, #00ccff) 0%, var(--token-bd71055c-0a2c-4476-8cc9-4310acba652d, rgb(0, 153, 255)) 100%);
  }
  .plans__container .plans__list .plan__item .active::after{
    content: '';
    position: absolute;
    bottom: 0%;
    width: 10PX;
    height: 10PX;
    left: 0%;
    z-index: -1;
    box-shadow: 140PX -140PX hsl(192, 100%, 30%);
    background: hsl(192, 100%, 30%);
  }
  @media screen and (max-width:767PX) {
    .text__center{
      max-width: 100%;
    }
  }


/* /µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ */

.text__content{
  width: 100%;display: flex;
  align-items: center;justify-content: space-between;
  margin-bottom: var(--mb-10);
}
.text__content .icons__list{
  display: flex;
    align-items: center;
    column-gap: var(--column-gap-10);
}
.text__content .icons__list .icon__item {
  width: 40PX;
  height: 40PX;
  border-radius: 50%;
  display: grid;
  place-content: CENTER;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1PX SOLID #222;
  transition: .2S linear all;
}
.text__content .icons__list .icon__item::before {
  content: '';
  position: absolute;
  width: 20PX;
  height: 20PX;
  border-radius: 50%;
  background-color: #444;
  filter: blur(10PX);
}
.cards__list{
  width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;}
.cards__list .cards__scroll {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: var(--row-gap-05);
  overflow-x: scroll;
  overflow-y: hidden;
  flex: none;
    }
.cards__list .cards__scroll::-webkit-scrollbar{
  width: 0%;height: 0%;
}
.cards__list .cards__scroll .card__item {
  
  width: 200PX;
  height: 300PX;
  flex: none;
  position: relative;
  border-radius: .4REM;
  transition: .2S linear;
  background-color: var(--color-transparent);
}
.cards__list .cards__scroll .card__item .card__image{
  width: 100%;height: 100%;
}
.cards__list .cards__scroll .card__item .card__image img{
  height: 100%;
}

.card__channels{
  width: 200PX;height: 80PX;
  flex: none;display: grid;
  place-content: CENTER;
  backdrop-filter: blur(5px);
  background: hsla(0, 0%, 100%, .035);
  cursor: pointer;transition: .2S linear all;
  background-color: var(--clr);
}

@media screen and (max-width:767PX) {
  .text__content h2{
    font-size: var(--fs-h3);
  }
  .text__content .icons__list{
    display: none;
  }
  .cards__list .cards__scroll .card__item {
    width: auto;
    height: 190PX;
}
}

/* /µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ */
.why__us{
  margin-bottom: var(--mb-30);
}
.why__us .text__center p{
  margin-bottom: var(--mb-20);
}
.why__us .why__list{
  width: 100%;height: auto;
  gap: var(--row-gap-10);
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(320PX , 1FR));
}
.why__us .why__list .why__item{
  width: 100%;height: auto;
  text-align: center;
  display: flex;flex-direction: column;
  padding: 1REM;gap: var(--row-gap-15);
  border-bottom: 1PX SOLID #333;
}

.why__us .why__list .why__item .circle__icon{
  width: 100PX;height: 100PX;
  display: grid;
  place-content: CENTER;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1PX SOLID #222;
  transition: .2S linear all;
  border-radius: 50%;
  margin: 0% auto;
  flex: none;
}
@media screen and (max-width:683px) {
  .why__us .why__list .why__item{
    flex-direction: row;
    text-align: right;
    gap: var(--row-gap-05);
  }
.why__us .why__list .why__item .circle__icon{
  width: 80PX;height: 80PX;
}
.why__us .why__list .why__item .circle__icon img{
  height: 50PX;
} 

}
.why__us .why__list .why__item .circle__icon::before{
  content: '';
  position: absolute;
  width: 50PX;
  height: 50PX;
  border-radius: 50%;
  background-color: #2A2A2A;
  filter: blur(20PX);
  z-index: -1000;
}
.why__us .why__list .why__item h2{
  margin-bottom: var(--mb-05);
  flex: none;font-size: var(--fs-h3);
}
.why__us .why__list .why__item p{
  opacity: .9;line-height: 1.6;
}

/* /µµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµµ */


.faqs__container{
  width: 100%;height: auto;
}
.faqs__container .text__content .icon__seeMore{
  display: flex;align-items: center;
  padding: 8PX 17PX;transition: .2S linear;
  column-gap: var(--row-gap-05);cursor: pointer;
}
.faqs__container .text__content .icon__seeMore ion-icon{
  font-size: 1REM;transition: .2S linear;
}
.faqs__container .text__content .icon__seeMore:hover{
  background-color: #1A1A1A;
}
.faqs__container .text__content .icon__seeMore:hover ion-icon{
  transform: translateX(-4PX);
}
.faqs__container .faqs__list{
  width: 100%;height: auto;
  gap: 1REM;

}
.faqs__container .text__center h2{
  margin-bottom: var(--mb-20);
}
@media screen and (max-width:767PX) {
  .faqs__container .text__content{
    margin-bottom: var(--mb-20);
  }
.faqs__container .text__content h2{
  font-size: var(--fs-h2);text-align: center;
  width: 100%;
}
.faqs__container .text__content .icon__seeMore{
  display: none;
}

.faqs__container .faqs__list{
  grid-template-columns: 1FR;
}
}
.faqs__container .faqs__list .faq__item{
  background-color: #1C1C1C;
  user-select: none;
  margin-bottom: var(--mb-05);


}
.faqs__container .faqs__list .faq__item .q{
  padding: 1.3REM 1REM;
  display: inline-flex;align-items: center;
  justify-content: space-between;
  width: 100%;cursor: pointer;
  transition: .2S linear;
}
.faqs__container .faqs__list .faq__item .q:hover h3{
  text-decoration: underline;
}
.faqs__container .faqs__list .faq__item .q:hover{
  background-color: #1A1A1A;
}
.faqs__container .faqs__list .faq__item .q ion-icon{
  font-size: 1.1REM;transition: .2S linear;
}
.faqs__container .faqs__list .faq__item .a{
  max-height: 0;overflow: hidden;
  background-color: #222;
}
.faqs__container .faqs__list .faq__item .a p{
  padding: 1REM 1REM;line-height: 1.5;
}
.faqs__container .faqs__list .faq__item.active .q h3{
  text-decoration: underline;
}
.faqs__container .faqs__list .faq__item.active .q ion-icon{
  transform: rotate(180DEG);
}
.faqs__container .faqs__list .faq__item.active .a{
  max-height: 100%;
}



.faqs__container .btn__more{
  display: block;
  padding: 10PX 20PX;
  background-color: #FFF;
  color: #111;border-radius: 20PX;
  display: inline-block;
  margin: 2REM auto;
  display: none;
}

@media screen and (max-width:767PX) {
.faqs__container .btn__more{
  display: inline-block;
}
}


















/* page blog */


.blog__conatiner .text__content{
  padding: .7REM;
}
.posts__list{
  width: 100%;height: auto;
  display: grid;grid-template-columns: repeat(auto-fill , minmax(340PX , 1FR));
  gap: var(--row-gap-10);
}
.posts__list .post__item{
  height: auto;
  padding: .7REM;
  border-bottom: 1PX SOLID #222;
  padding-bottom: 1.5REM;cursor: pointer;
  user-select: none;transition: .2s linear all;
}
.posts__list .post__item:hover h2{
  text-decoration: underline;
}
.posts__list .post__item:hover{
  background-color: var(--color-transparent);
}
.posts__list .post__item .post__image{
  width: 100%;height: 200PX;
  display: flex;align-items: center;
  margin-bottom: var(--mb-10);
  object-fit: cover;
}
.posts__list .post__item .post__image img{
  width:100% ;height: 100%;
  object-fit: 100%;
  border-radius: .5REM .5REM 0REM 0REM;
}
.posts__list .post__item h2{
  font-size: var(--fs-h3);
  margin-bottom: var(--mb-05);
}
.posts__list .post__item P{
  line-height: 1.6;opacity: .8;
  margin-bottom: var(--mb-05);
}
.posts__list .post__item span{
  padding: 8PX 0PX;
  display: flex;align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: var(--row-gap-05);
  user-select: none;

}
.posts__list .post__item span ion-icon{
  opacity: .8;
  font-size: 1.1REM;
}
.posts__list .post__item span i{
  font-size: var(--fs-normal);
  opacity: .8;
}

@media screen and (max-width:767PX) {
  .blog__conatiner .text__content h2{
    font-size: var(--fs-h2);
  }
}


.post__conatiner .text{
  max-width: 800PX;
}
@media screen and (max-width:767PX) {
.post__conatiner .text{
    max-width: 100%;
  }
}

.post__conatiner .text h1{
  font-size: var(--fs-big);
  line-height: 1.1;
  margin-bottom: var(--mb-10);
}
.post__conatiner .text p{
  opacity: .8;font-size: var(--fs-normal);
  margin-bottom: var(--mb-10);
}

.post__conatiner .image__container{
  width: 100%;height: 400PX;
  object-fit: cover;
  margin-bottom: var(--mb-10);
}
.post__conatiner .image__container img{
  width: 100%;height: 100%;
  object-fit: 100%;border-radius: .5REM .5REM 0REM 0REM;
}

.post__conatiner .like__post{
  width: 100%;display: flex;align-items: center;
  overflow-x: scroll;
}

.post__conatiner .like__post::-webkit-scrollbar{
  width: 0;height: 0;
}
.like__post .post__item{
  width: 400PX;
  height: auto;
  padding: .7REM;
  border-bottom: 1PX SOLID #222;
  padding-bottom: 1.5REM;cursor: pointer;
  user-select: none;transition: .2s linear all;
  flex: none;
}
.like__post .post__item:hover h2{
  text-decoration: underline;
}
.like__post .post__item:hover{
  background-color: var(--color-transparent);
}
.like__post .post__item .post__image{
  width: 100%;height: 200PX;
  display: flex;align-items: center;
  margin-bottom: var(--mb-10);
  object-fit: cover;
}
.like__post .post__item .post__image img{
  width:100% ;height: 100%;
  object-fit: 100%;
  border-radius: .5REM .5REM 0REM 0REM;
}
.like__post .post__item h2{
  font-size: var(--fs-h3);
  margin-bottom: var(--mb-05);
}
.like__post .post__item P{
  line-height: 1.6;opacity: .8;
  margin-bottom: var(--mb-05);
}
.like__post .post__item span{
  padding: 8PX 0PX;
  display: flex;align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: var(--row-gap-05);
  user-select: none;

}
.like__post .post__item span ion-icon{
  opacity: .8;
  font-size: 1.1REM;
}
.like__post .post__item span i{
  font-size: var(--fs-normal);
  opacity: .8;
}

@media screen and (max-width:767PX) {
  .post__conatiner .text__content h2{
    font-size: var(--fs-h2);
  }
}
  @media screen and (max-width:767PX) {
.post__conatiner .text h1{
  font-size: var(--fs-h1);
}
  .post__conatiner .image__container{
  width: 400PX;
  height: 190PX;
  }
  }
  
































header{
  width: 100%;height: auto;
  display: flex;align-items: center;
  justify-content: space-between;
  padding: 1REM 5%;position: fixed;
  left: 0%;right: 0%;left: 0%;
  z-index: 9999;
  background-color: rgba(15, 15, 15, .5);
  backdrop-filter: blur(40PX);
}

header .left__sec{
  display: flex;align-items: center;
  column-gap: var(--row-gap-10);
}





.reviews{
  width: 100%;height: auto;
  background-color: transparent;
  display: flex;align-items: center;
  column-gap: var(--row-gap-05);
  overflow-x: scroll;overflow-y: hidden;
  margin-bottom: var(--mb-15);
}
.reviews .review__list{
  width: 250PX;height: 400PX;
  background-color: green;
  flex: none;
}
.reviews .review__list img{
  width: 100%;height: 100%;
  object-fit: 100%;
}

@media screen and (max-width:767PX) {
.reviews .review__list{
  width: 200PX;height: 300PX;
}
}
.btn__container{
  width: 100%;height: 40PX;
  /* background-color: red; */
  display: flex;align-items: center;
  position: relative;justify-content: center;
}
.btn__container a{
  padding: 10PX 30PX;
  background-color: #0f0f0f;
  color: #ddd;border-radius: 20PX;
  border: 1PX SOLID #232323;
  user-select: none;transition: .2S linear all;
}
.btn__container a:hover{
  background-color: #1a1a1a;
  color: #FFF;
}
.btn__container::before{
  content: '';position: absolute;
  width: 50%;height: 1PX;
  background-color: #1B1B1B;
  left: 0%;z-index: -100;
}
.btn__container::after{
  content: '';position: absolute;
  width: 50%;height: 1PX;
  background-color: #1B1B1B;
  right: 0%;z-index: -100;
}